@import './../../../../web/css/bootstrap/variables.less';

.category-search {

    margin-bottom: 2rem;

    #radio_button_productsearch-view {

        .btn-success, .btn-default  {
            width: 50% !important;
            min-width: auto;
            padding: .6rem .8rem; 
        }

        .btn-default {

            float: left;


            background: white;
            color: #555;
            border: 1px solid #ccc;
        }

    }

    input, label, select {
        cursor: pointer;
    }

    label {
        font-weight: 300;
        margin-top: .8rem;
    }

    #radio_button_productsearch-view {

        .btn:hover {
            background-color: #3D3D3D;
            color: white;
        }

        .btn-success {
            background-color: #3D3D3D;

        }
    }

}

.product-cart-grid {

    margin-bottom: 3rem;

    .panel {
        border: 0px solid #ccc;



        .image-wrap, .product-description-wrap {
            border: inherit;
            border: 0px solid #ccc;

            .image {
                min-height: 16rem;
            }

            .h4 {
                a {
                    text-decoration: underline;
                    text-decoration-color: @brand-primary;
                    line-height: 2.4rem;
                }
            }
        }

        /*.product-description-wrap {*/
        /*min-height: 14rem;*/

        .stock {
            color: @gray;
        }

        .product-price {

            font-weight: 400;

            span {
                font-size: 2rem;
                font-weight: 700;
            }
        }


        /*}*/

        .panel-heading {
            border: 1px solid #ccc;

            display: flex;
            flex-direction: column;
            justify-content: space-between;


            min-height: 40rem;

            .fa-check-circle {
                color:  @brand-primary;
            }
        }
        .panel-footer {
            background: inherit;
            padding: 0 15px;
            border: 0px solid white;

            .cart-add {

                /*width: 100%;*/

                padding-left: 0;
                padding-right: 0;
                margin-left: -1.5rem;
                margin-right: -1.5rem;

                .btn-group {

                    width: 100%;

                    .btn-primary {
                        width: 65%;
                        font-weight: 600;
                        /*text-indent: 3px;*/
                        letter-spacing: 1px;
                        /*color: #ccc;*/
                        background-color: darken(@brand-primary, 5%);
                    }
                    .btn-default {
                        width: 35%;
                        margin-top: -1px;
                        height: 39px;
                        margin-left: 0;
                        font-weight: 300;
                    }
                }
            }
        }

        .fa-clock {
            color: @yellow;
        }
    }
}
