.header .catalog-button {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline !important;
    min-width: 100%;
    padding: 1rem;
    float: right;
    max-width: 100%;
    font-size: 14px;
    outline: none;
}

.btn {
    border-radius: 4px
}

#popup-search .input-group {
    width: 100%;
    position: relative;
}

#popup-search .input-group input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #d2d2d2;
    height: 45px;
    padding-left: 0;
}

#popup-search .input-group i {
    position: absolute;
    z-index: 22;
    top: 10px;
    right: 0;
    font-size: 20px;
    color: #d2d2d2;
}

.icons-right ul {
    margin-right: 0;
}

.icons-right li {
    text-align: center;
    position: relative;
}

.icons-right li a {
    font-size: 10px;
    padding: 0;
    margin-right: 27px;
    margin-top: 15px;
}

.icons-right li:last-child a {
    margin-right: 0;
}

.icons-right {
    margin-right: 0;
}

.icons-right span.badge {
    background-color: #b8cc76;
    padding: 2px 6px;
    margin-left: -10px;
    position: absolute;
}

.m-text-top {
    padding: 30px 10px 30px 20px !important;
}

.home-contact-form .contact-fields {
    box-shadow: rgba(149, 157, 165, 0.2) 2px 2px 20px;
    padding: 15px;
}

.home-contact-form .contact-fields input {
    padding: 20px 10px;
    border-radius: 6px;
}

.home-contact-form .contact-fields textarea {
    padding: 12px 10px;
    border-radius: 6px;
    margin-top: 15px;
}

.vacancy-form {
    padding-left: 50px;
    padding-right: 50px;
}

.vacancy-form .politic-text {
    color: red;
}

.w-80 {
    width: 80%;
}

.vacancy-form .politic-text a {
    text-decoration: underline;
    color: red;
}

.home-contact-form .contact-fields .politic-text {
    color: red;
}

.home-contact-form .contact-fields .politic-text a {
    text-decoration: underline;
    color: red;
}

.home-contact-form .contact-fields p {
    font-size: 12px;
}

.home-contact-form button {
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0px;
}

.home-contact-form input[type="radio"] {
    accent-color: #838f5c;
}

.home-contact-form .fileds-radio {
    font-size: 12px;
    width: 105%;
}

.city-choise-wrap li.dropdown {
    list-style: none;
}

.city-choise-wrap i {
    color: #b8cc76;
}

.city-choise-wrap a.dropdown-toggle {
    border-bottom: 1px solid #b8cc76;
}

.city-choise-wrap a.dropdown-toggle:hover {
    text-decoration: none;
}

.city-choise-wrap a.dropdown-toggle:focus {
    text-decoration: none;
}

.city-choise-wrap ul.dropdown-menu a {
    color: #b8cc76 !important;
}

.footer .phone-secondary a {
    color: #fff;
    font-weight: bold;
}

.footer .sosial-icons li {
    padding-left: 5px;
    width: auto !important;
    list-style: none;
    display: inline-block;
}

.footer .address {
    margin-top: 10px;
}

.header .catalog-button {
    background: white;
    color: #b8cc76;
    border: 1px solid #b8cc76;
    margin-top: 15px;
}

.header .active-button {
    background: #b8cc76;
    color: #fff;
    outline: none;
}

.header .catalog-button:focus,
.header .catalog-button:active:focus,
.header .catalog-button.active:focus,
.header .catalog-button.focus,
.header .catalog-button:active.focus,
.header .catalog-button.active.focus {
    outline: none;
}

.header .phone-wrap .phone {
    margin-top: -20px;
}

.header .phone-wrap .call-back {
    margin-bottom: 15px;
}

.header #popup-search {
    margin-top: 10px;
}

/* menu */

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    box-shadow: 5px 0 5px -5px #333;
    margin-top: 15px;
}

div.bhoechie-tab-menu div.list-group {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #b8cc76;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
    background-color: #b8cc76;
    background-image: #b8cc76;
    color: #ffffff;
    /* font-weight: bold; */
}

div.bhoechie-tab-menu div.list-group>a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #b8cc76;
}

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 15px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

div.bhoechie-tab .list-group-item {
    border: none;
}

div.bhoechie-tab .list-group-item img {
    margin-right: 10px;
}

.menu-right {
    text-align: center;
}

.menu-right img {
    max-height: 300px;
    width: auto;
    object-fit: cover;
}

.bhoechie-tab-content ul {
    padding-left: 0;
}

.bhoechie-tab-content ul li {
    list-style: none;
    padding: 10px 15px;
}

.bhoechie-tab-content ul li a:hover {
    font-weight: bold;
    text-decoration: none;
}

.thanks-contact-form .contact-form .home-contact-form input[type=email] {
    height: 6rem;
    line-height: 6rem;
}

.thanks-contact-form .contact-form .home-contact-form .h2-home {
    color: #3d3d3d;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.thanks-contact-form .contact-form .home-form input[type=text] {
    height: 4rem;
}

.thanks-contact-form .contact-form .home-form input[type=email] {
    height: 4rem;
}

.home-form .contact-fields {
    padding: 5px 10px;
}

.thanks-contact-form .contact-form .home-form .button-wrap {
    padding-top: 0;
}

.button-anchor button {
    width: 100%;
    border: 1px solid #b8cc76;
    color: #b8cc76;
    margin-top: 15px;
    padding: 10px;
    outline: none;
}

.button-anchor button:hover {
    border: 1px solid #b8cc76;
    color: #b8cc76;
    background-color: inherit;
    outline: none;
}

.fixed-header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    margin-top: 84px;
}

.scrolled {
    padding-top: 20px !important;
    margin-top: 0px;
}

/* ВАКАНСИИ */
.vacancy-index .vacancy {
    border-radius: 5px;
}

.content .vacancy-index .vacancy .address {
    color: #000;
    line-height: 1.4rem;
    font-size: 14px;
}

.content .vacancy-index .vacancy .pay {
    color: #000;
}

.posted-data {
    color: #ccc;
    font-size: 14px;
    line-height: 2em;
}

.send-doc {
    margin-bottom: 2rem;
    ;
}

/* ВАКАНСИИ */

.attach-icon {
    height: 14px;
    display: inline-block;
}

.catalog-new ul li {
    display: inline-block;
    margin-right: 8px;
}

.catalog-new ul li a {
    background-color: #f2f2f2;
    border-radius: 50px;
}

.catalog-new h1 {
    margin-bottom: 30px;
}

.product-cart .panel .panel-heading .favorite-img {
    position: absolute;
    z-index: 1;
    top: 54px;
    left: 22px;
    height: 24px;
}
.category-search #productsearch-detection_type label{
    padding-right: 3rem;
}
.category-search #productsearch-online_kass_type label{
    padding-right: 3rem;
}
/* .category-search #productsearch-enter_width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-search #productsearch-in_stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.category-search #productsearch-detection_type {
    display: inline-block!important;
}

.product-cart .panel .panel-heading .comparison-img {
    position: absolute;
    z-index: 1;
    top: 94px;
    left: 22px;
    height: 24px;
}

#add_cart .btn {
    border-radius: 5px;
    width: 100%!important;
    margin-left: 0px;
}
.product-cart-grid .panel .panel-footer .cart-add .btn-group .btn-default{
    margin-left: 0!important;
}
.cart-item .cart-add .btn-grey{
    border: 1px solid #ccc;
}
.cart-item .cart-add [name=count]{
    border: 1px solid #ccc; 
}

.gallery-wrap .favorite-img {
    position: absolute;
    z-index: 1;
    left: 22px;
    height: 24px;
}

.gallery-wrap .comparison-img {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 22px;
    height: 24px;
}
.dp-block{
    display: inline-block;
}
.stock .fa-check-circle{
    color: #b8cc76;
}
.stock .fa-clock{
    color: #fccc4c;
}
.w100{
    width: 100%;
}
.w100 .btn-primary{
    width: 55%;
    letter-spacing: 1px;
    height: 48px;
    background-color: #aec563;
    border-radius: 5px!important;
}

.w100 .btn-default{
    width: 43.5%;
    height: 48px;
    margin-left: 1.5%!important;
    font-size: 11px;
    border-radius: 5px!important;
}
.color-main{
    color: #b8cc76;
}
.category-search .list-img {
    height: 24px;
    margin-left: 30px;
}
.text-grid{
    text-decoration: underline;
    text-decoration-color: #89a03c;
}
.product-cart .image-wrap .type-img {
    position: absolute;
    height: 34px;
    z-index: 1;
    left: 0;
    top: 0;
}   
.product-cart .product-description-wrap .h4 a{
    text-decoration: underline;
    text-decoration-color: #89a03c;
}
/* .list-view .product-cart .btn-default{
    margin-left: 5px!important;
} */
.show-contact{
    margin-bottom: 40px;
}
.characteristics-compare{
    margin-top: 80px;
}
.characteristics-compare ul{
    padding-left: 0;
}
.delete-img{
    height: 13px;
}
.compare-click{
    margin-top: -50px;
}

@media (max-width: 994px) {
    .w100 .btn-primary{
        width: 100%;
    }
    .w100 .btn-default{
        width: 100%;
        margin-left: 0!important;
    }
    .pull-right{
        float: none !important;
    }
    .home-list-category{
        margin-top: 50px;
      }
     /* .sm-menu {
      padding: 0;
    } */
    .sm-menu ul{
        /* padding: 0;
        margin: 0; */
        text-align: center; 
      }
      .sm-menu ul li{
        display: inline-block;
      }
      .content .breadcrumb{
        margin-top: 8rem;
      }
      /* .sm-menu ul li a{
        padding: 5px;
        font-size: 10px;
      } */
      /* .sm-hamburger{
        padding: 0;
      } */
  }