.header .catalog-button {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline !important;
    min-width: 100%;
    padding: 1rem;
    float: right;
    max-width: 100%;
    font-size: 14px;
    outline: none;
}
.main-navbar .navbar-nav li>a:focus{
    border-bottom: 0px;
    color: #B8CC76;
    background-color: inherit;
    outline: none;
}
.owl-theme .owl-dots{
    text-align: center !important;
}
.product-cart .owl-theme .owl-dots .owl-dot span{
    width: 5px!important;
    height: 5px!important;
    padding: 1px;
    background: #D6D6D6!important;
}
.product-cart .owl-theme .owl-dots .owl-dot:hover span{
    width: 5px!important;
    height: 5px!important;
    padding: 1px;
    background: #D6D6D6!important;
}
.owl-theme .owl-dots .owl-dot span{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px!important;
    height: 20px!important;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    outline: none;
    background: transparent;
    position: relative;
    background: inherit!important;
    border: 1px solid #D6D6D6!important;
}
.product-cart .owl-theme .owl-dots .owl-dot.active span
{
    width: 5px!important;
    height: 5px!important;
    padding: 1px;
}
.product-cart .owl-theme .owl-dots .owl-dot.active span:before{
    width: 5px!important;
    height: 5px!important;
    padding: 1px;
}
.owl-theme .owl-dots .owl-dot:hover span{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px!important;
    height: 20px!important;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    outline: none;
    background: transparent;
    position: relative;
    background: inherit!important;
    border: 1px solid #D6D6D6!important;
    border-radius: 30px;
}
.product_item .gallery-wrap .type-img {
    position: absolute;
    height: 34px;
    z-index: 1;
    left: 0;
    top: 10px;
}
.owl-theme .owl-dots .owl-dot.active span{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px!important;
    height: 20px!important;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    outline: none;
    background: transparent;
    position: relative;
    background: inherit!important;
    border: 1px solid #D6D6D6!important;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span:before{
    font-family: 'slick';
    font-size: 6px;
    line-height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
.uslugi .uslugi-grid-wrap .one-service .service-wrap .title{
    font-size: 14px;
    font-family: 'Open Sans';
}
.uslugi .uslugi-grid-wrap .one-service .service-wrap{
    padding: 12rem 2rem 0;
}
.service-wrap .link-next{
    color: #0071BC!important;
    text-decoration: underline;
    font-size: 14px!important;
}
.uslugi .uslugi-grid-wrap .one-service .service-wrap.wrap-82{
    background: none;
}
.uslugi .uslugi-grid-wrap .one-service .service-wrap.wrap-84{
    background: none;  
}
.uslugi .uslugi-grid-wrap .one-service .service-wrap.wrap-105{
    background: none;  
}
.uslugi .uslugi-grid-wrap .one-service .service-wrap.wrap-107{
    background: none;  
}
.uslugi .uslugi-grid-wrap .one-service .service-wrap.wrap-103{
    background: none;  
}
.uslugi .uslugi-grid-wrap .one-service .service-wrap.wrap-104{
    background: none;  
}
.box_white{
    background: #fff;
    height: 295px;
    width: 100%;
    left: 0;
    top: 56px;
    position: absolute;
    border-radius: 5px;
}
.box_img_service{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 20px;
    left: 30px;
    z-index: 999;
    background: #fff;
    border-radius: 50%;
}
.uslugi .uslugi-grid-wrap .one-service .service-wrap .title{
    position: relative;
    z-index: 2;
}
.uslugi .uslugi-grid-wrap .one-service .service-wrap .anons{
    position: relative;
    z-index: 2;
}
.btn {
    border-radius: 10px
}
.footer_center div.col-sm-2{
    padding-right: 5px;
}
.footer_center p{
    font-size: 12px;
}
/* img{
    border-radius: 10px!important;
} */
input {
    border-radius: 10px !important;
}

select {
    border-radius: 10px !important;
}

#popup-search .input-group {
    width: 100%;
    position: relative;
}

.header .phone-wrap .phone a:hover {
    text-decoration: unset;
}

#popup-search .input-group input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #d2d2d2;
    height: 45px;
    border-radius: 0 !important;
    padding-bottom: 0;
    /* padding-left: 0; */
}

.sosial-icons a:hover {
    text-decoration: none;
}

.new_fast_cat img {
    display: block;
    height: 80px;
    margin: 0 auto;
}

#popup-search .input-group i {
    position: absolute;
    z-index: 22;
    top: 15px;
    right: 0;
    font-size: 20px;
    color: #d2d2d2;
}

#popup-search .input-group i:hover {
    color: #B8CC76;
}

.new_tab_address {
    margin-top: 40px;
    color: #fff;
}

.icons-right ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icons-right li {
    text-align: center;
    position: relative;
}

.icons-right li a {
    font-size: 10px;
    padding: 0;
    /* margin-right: 27px; */
    /* margin-top: 15px; */
}

.icons-right li:last-child a {
    margin-right: 0;
}

.icons-right {
    margin-right: 0;
}

.icons-right span.badge {
    background-color: #b8cc76;
    padding: 2px 6px;
    margin-left: -10px;
    position: absolute;
}

.m-text-top {
    padding: 30px 10px 30px 20px !important;
}

.home-contact-form .contact-fields {
    box-shadow: rgba(149, 157, 165, 0.2) 2px 2px 20px;
    padding: 15px;
    border-radius: 5px;
}

.home-contact-form .contact-fields input {
    padding: 20px 10px;
    border-radius: 6px;
}

.home-contact-form .contact-fields textarea {
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    height: auto;
}

.custom-file-input {
    color: transparent;
    cursor: pointer;
    float: right;
    padding: 0 !important;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.home-contact-form div.field-contactform-file label.control-label {
    top: 30% !important;
    right: 15% !important;
    text-align: right;
}

.home-contact-form .contact-fields input.custom-file-input {
    max-width: 100%;
}

.custom-file-input::before {
    content: "Прикрепить файл";
    color: black;
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    float: right;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.thanks-contact-form .contact-form .home-contact-form .button-wrap button {
    padding: 1rem 8rem;
}

.vacancy-form {
    padding-left: 50px;
    padding-right: 50px;
}

.vacancy-form .politic-text {
    color: red;
}

.w-80 {
    width: 80%;
}
.footer_center_last{
    margin-left: 5px;
}
.vacancy-form .politic-text a {
    text-decoration: underline;
    color: red;
}

.politic-text {
    color: red;
}

.politic-text a {
    text-decoration: underline;
    color: red;
}
.btn-primary:hover{
    color: #fff!important;
    background-color: #A7B765!important; 
}
.cart-delete:hover i{
    color: #b8cc76;
}
.btn-cart-checkout{
    background-color: #fff;
    color: #B3B3B3;
    outline: none!important;
}
.btn-cart-checkout:hover{
    color: #b8cc76;
}
.cart-index .cart-index-wrap .tb-col .count-wrap [name=count]{
    background-color: #fff;
    border-bottom: 1px solid #B3B3B3;
    border-radius: 0!important;
    color: #B3B3B3;
    outline: none;
}
.cart-index .cart-index-wrap .tb-col .delete-wrap .cart-delete{
    background-color: #fff;
    color: #B3B3B3;
}
.home-contact-form .contact-fields p {
    font-size: 12px;
}

.home-contact-form button {
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0px;
}

.home-contact-form input[type="radio"] {
    accent-color: #838f5c;
}

.home-contact-form .fileds-radio {
    font-size: 12px;
    width: 105%;
}

.city-choise-wrap li.dropdown {
    list-style: none;
}

.city-choise-wrap i {
    color: #b8cc76;
}

.city-choise-wrap a.dropdown-toggle {
    border-bottom: 1px solid #b8cc76;
    font-size: 14px;
    font-weight: 600;
    color: #b8cc76;
}

.city-choise-wrap a.dropdown-toggle:hover {
    text-decoration: none;
}

.city-choise-wrap a.dropdown-toggle:focus {
    text-decoration: none;
}

.city-choise-wrap ul.dropdown-menu a {
    /*color: #b8cc76 !important;*/
    /*font-weight: 600;*/
}

.city-choise-wrap ul.dropdown-menu a:hover {
    color: #b8cc76;
    background: inherit;
}

.footer .city-choise-wrap ul.dropdown-menu a {
    color: #000;
}

.footer .city-choise-wrap ul.dropdown-menu a:hover {
    color: #b8cc76;
}

.footer .phone-secondary a {
    color: #fff;
    font-weight: bold;
}

.footer .sosial-icons li {
    padding-left: 5px;
    width: auto !important;
    list-style: none;
    display: inline-block;
}

.footer .address {
    margin-top: 10px;
}

.header .catalog-button {
    background: white;
    color: #b8cc76;
    border: 1px solid #b8cc76;
}

.header .catalog-button:hover {
    background: #B8CC76;
    color: #fff;
}

.icon_up {
    font-size: 18px;
}

.header .active-button {
    background: #b8cc76;
    color: #fff;
    outline: none;
}

.header .catalog-button:focus,
.header .catalog-button:active:focus,
.header .catalog-button.active:focus,
.header .catalog-button.focus,
.header .catalog-button:active.focus,
.header .catalog-button.active.focus {
    outline: none;
}

.header .phone-wrap .phone {
    margin-top: -20px;
}

.header .phone-wrap .call-back {
    margin-bottom: 15px;
}

.header .phone-wrap .call-back:hover {
    color: #fff;
    background-color: #A7B765;
}

.header #popup-search {
    margin-top: -3px;
}
.uslugi .bottom-image{
    margin-top: 2rem;
}
/* menu */

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    box-shadow: 5px 0 5px -5px #333;
    margin-top: 15px;
}

div.bhoechie-tab-menu div.list-group {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
}
.product-cart .panel .panel-heading .type-img{
    top: 10px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #b8cc76;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
    background-color: #fff;
    background-image: none;
    color: #000;
    font-weight: bolder;
}
.scrolled .bhoechie-tab{
    background-color: #fff;
    margin-top: -1px;
}
div.bhoechie-tab-menu div.list-group>a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #b8cc76;
}
#productsearch-video_type{
    display: inline-block;
}
.footer .footer-top .right-side .phone a {
    font-size: 2.1rem;
}

.footer .footer-top .right-side {
    padding-left: 0;
}

.footer hr {
    border-top: 1px solid #4b4b4b;
}

.footer_city_address {
    color: #fff;
    margin-top: 20px;
}

.footer_city_address a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.new_tab_address a {
    color: #fff;
}

.new_tab_address:hover span {
    color: #b8cc76;
}
.scrolled-logo{
    width: 40px;
    height: 40px;
}
.new_tab_address a:hover {
    text-decoration: none;
}

.footer .footer-bottom {
    margin-top: 40px;
}

.dropdown-menu {
    text-align: center;
}

.footer .footer-top .right-side .call-back {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    width: 170px;
    height: 40px;
    text-transform: uppercase;
    background-color: #b8cc76;
    padding-right: 12px;
    margin-top: 10px;
}

.footer .footer-top .right-side .call-back:hover {
    background-color: #A7B765;
    ;
}

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 15px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

div.bhoechie-tab .list-group-item {
    border: none;
}

.navbar-left .dropdown-menu {
    text-align: left;
}

div.bhoechie-tab .list-group-item img {
    margin-right: 10px;
}

.menu-right {
    text-align: center;
}

.menu-right img {
    max-height: 300px;
    width: auto;
    object-fit: cover;
}

.bhoechie-tab-content ul {
    padding-left: 0;
}

.bhoechie-tab-content ul li {
    list-style: none;
    padding: 10px 15px;
}

.bhoechie-tab-content ul li a:hover {
    text-decoration: none;
}

.thanks-contact-form .contact-form .home-contact-form input[type=email] {
    height: 6rem;
    line-height: 6rem;
}

.thanks-contact-form .contact-form .home-contact-form .h2-home {
    color: #3d3d3d;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.thanks-contact-form .contact-form .home-form input[type=text] {
    height: 4rem;
}

.thanks-contact-form .contact-form .home-form input[type=email] {
    height: 4rem;
}

.home-form .contact-fields {
    padding: 0px 10px;
}

.thanks-contact-form .contact-form .home-form .button-wrap {
    padding-top: 0;
}

.button-anchor button {
    width: 100%;
    border: 1px solid #b8cc76;
    color: #b8cc76;
    margin-top: 15px;
    padding: 10px;
    outline: none;
}

.button-anchor button:hover {
    border: 1px solid #b8cc76;
    color: #b8cc76;
    background-color: inherit;
    outline: none;
}

.fixed-header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    margin-top: 84px;
}

.scrolled {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 0px;
    height: 60px;
}
.fixed-header-catalog {
    position: fixed;
    top: 60px;
    background: #fff;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    width: 100%;
    left: 0;
}
.scrolled_catalog{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: -1px;
}
.scrolled_catalog a{
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 0px 10px;
    background: #fcfcfc;
}
.scrolled_catalog .row{
    display: flex;
    justify-content: space-between;
}
/* ВАКАНСИИ */
.vacancy-index .vacancy {
    border-radius: 5px;
}

.content .vacancy-index .vacancy .address {
    color: #000;
    line-height: 1.4rem;
    font-size: 14px;
}
/* .footer .footer-top ul li a{
    line-height: 2rem;
    font-size: 12px;
    font-weight: 300;
} */
.footer_center_0{
    /* margin-left: 30px; */
}
.header .work-time .col-xs-5{
    padding-left: 15px!important;
}
.header .work-time .col-xs-7{
    padding-left: 10px!important;
}
.footer_center_2{
    margin-left: -20px;
}
.footer_center_5{
    margin-left: 10px;
}
.footer_center_3{
    margin-left: -20px;
}
.footer_center_5 .new_tab_address{
    margin-right: -20px;
}
.content .vacancy-index .vacancy .pay {
    color: #000;
}

.posted-data {
    color: #ccc;
    font-size: 14px;
    line-height: 2em;
}

.send-doc {
    margin-bottom: 2rem;
    ;
}

/* ВАКАНСИИ */

.attach-icon {
    height: 14px;
    display: inline-block;
}

.catalog-new ul li {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    width: 12%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 0px 0px 10px;
    background: #fcfcfc;
}

.catalog-new ul li a {
    border: none;
}

.catalog-new ul li.active a {
    background-color: #ddd !important;
    border: none;
    border-radius: 50%!important;
}

.pagination li span {
    background-color: #fff!important;
}
ul.pagination li {
    width: auto!important;
}
.pagination li.next a, .pagination li.prev a{
    color: #b8cc76;
}
.pagination li.disabled{
    display: none;
}
.pagination>li>a,
.pagination>li>span {
    padding: 5px 12px;
}

.new_fast_cat {
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
    margin-right: -5px;
}

.new_fast_cat li:first-child img {
    height: 90px;
    width: 59px;
}
.new_fast_cat li:first-child .new_fast_cat_lable .inner{
    margin-top: 8px;
}
.new_fast_cat li:nth-child(2) img {
    height: 73px;
    width: 85px;
}

.new_fast_cat li:nth-child(3) img {
    height: 71px;
    width: 85px;
}

.new_fast_cat li:nth-child(4) img {
    height: 70px;
    width: 95px;
}

.new_fast_cat li:nth-child(5) img {
    height: 89px;
    width: 85px;
}

.new_fast_cat li:nth-child(6) img {
    height: 85px;
    width: 85px;
}

.new_fast_cat li:nth-child(7) img {
    height: 79px;
    width: 85px;
}

.catalog-new ul.new_fast_cat li a {
    /* background-color: #f6f6f6; */
    /* border-radius: 5px; */
    /* border: 1px solid #fcfcfc; */
    text-align: center;
    height: 107px;
    padding: 0;
    position: relative;
}
.catalog-new ul.new_fast_cat li a:hover{
    background-color: inherit;
}
.category-search .control-label{
    font-weight: 600;
    margin-right: 10px;
}

.footer a:hover {
    text-decoration: none;
}

.new_fast_cat_lable {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 40px;
}

.inner {
    margin: auto;
}

.catalog-new h1 {
    margin-bottom: 30px;
}

.product-cart .panel .panel-heading .favorite-img {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 22px;
    height: 24px;
}
.delete-wrap img{
    height: 16px;
}
.category-search #productsearch-detection_type label {
    padding-right: 3rem;
}

.category-search #productsearch-online_kass_type label {
    padding-right: 3rem;
}

/* .category-search #productsearch-enter_width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-search #productsearch-in_stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.category-search #productsearch-detection_type {
    display: inline-block !important;
}

.category-search {
    padding-bottom: 10px !important;
}

.product-cart .panel .panel-heading .comparison-img {
    position: absolute;
    z-index: 1;
    top: 94px;
    left: 22px;
    height: 24px;
}

#add_cart .btn {
    border-radius: 5px;
    width: 100% !important;
    margin-left: 0px;
}

.product-cart-grid .panel .panel-footer .cart-add .btn-group .btn-default {
    margin-left: 0 !important;
}
/* .product-cart-grid .panel .panel-heading{
    min-height: 27rem!important;
} */
.cart-item .cart-add .btn-grey {
    border: 1px solid #ccc;
}
.header .city-choise-wrap .address{
    line-height: 2rem;
}

.cart-item .cart-add [name=count] {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.product-list .image-wrap .owl-carousel .owl-item img{
    max-height: 160px;
    object-fit: contain;
}
.product-list .panel-heading .h4{
    position: absolute;
    bottom: 0;
}
.product-cart-grid .panel .panel-heading{
    position: relative;
}
.product-list .image-wrap .owl-theme .owl-nav.disabled+.owl-dots{
margin-top: 0;
}
.product-list .product-cart .image-wrap .image{
    padding-bottom: 1rem;
}
.gallery-wrap .favorite-img {
    position: absolute;
    z-index: 1;
    left: 22px;
    height: 24px;
    top: 60px;
}

.gallery-wrap .comparison-img {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 22px;
    height: 24px;
}

.dp-block {
    display: inline-block;
}

.stock .fa-check-circle {
    color: #b8cc76;
}

.stock .fa-clock {
    color: #fccc4c;
}

.w100 {
    width: 100%;
}

.w100 .btn-primary {
    width: 55%;
    letter-spacing: 1px;
    height: 48px;
    background-color: #aec563;
    border-radius: 5px !important;
    margin-top: 5px;
}

.w100 .btn-default {
    width: 43.5%;
    height: 48px;
    margin-left: 1.5% !important;
    font-size: 11px;
    border-radius: 5px !important;
    margin-top: 5px;
}

.color-main {
    color: #b8cc76;
}

.category-search .list-img {
    height: 24px;
    margin-left: 30px;
}

.text-grid {
    text-decoration: underline;
    text-decoration-color: #89a03c;
}

.product-cart .image-wrap .type-img {
    position: absolute;
    height: 34px;
    z-index: 1;
    left: 0;
    top: 0;
}

.product-cart .product-description-wrap .h4 a {
    text-decoration: underline;
    text-decoration-color: #B8CC76;
}

/* .list-view .product-cart .btn-default{
    margin-left: 5px!important;
} */
.show-contact {
    margin-bottom: 40px;
}

.characteristics-compare {
    margin-top: 80px;
}

.characteristics-compare ul {
    padding-left: 0;
}

.delete-img {
    height: 13px;
}

.compare-click {
    margin-top: -50px;
}

.middle-line .office {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header .work-time .wt-header {
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
}

.main-navbar .navbar-nav li a {
    transition-duration: 0s;
    border-bottom: none;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background: inherit;
    color: #000;
}

.main-navbar .navbar-nav li a:hover {
    border-bottom: 0px;
    color: #B8CC76;
}

.footer .sosial-icons ul {
    display: flex;
    justify-content: space-evenly;
    /* padding-left: 38% !important; */
}

.sosial-icons {
    margin-top: 10px;
}

.sosial-icons ul {
    display: flex;
    justify-content: space-around;
}

.sosial-icons ul li {
    width: auto;
}

.product-cart-grid .panel .panel-body {
    border-radius: 0 0 5px 5px;
}

#add_cart .btn {
    margin-top: 5px;
}

.flex-center {
    display: flex;
    justify-content: space-between;
}

.icons-right ul li a:hover {
    color: #B8CC76;
    background-color: inherit;
    /* border-bottom: 1px solid #92ab40;  */
}

.cart-index input[type="checkbox"] {
    accent-color: olivedrab;
}

.cart-index .well {
    background-color: inherit;
}

.cart-index form div.form-group {
    position: relative;
}

.cart-index form div.form-group label.control-label {
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: #fff;
    color: #B3B3B3;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 12px;
}

.cart-index form div.form-group input {
    height: 44px;
}

.cart-index .cart-index-wrap .tb-header {
    padding-left: 15px;
}

.cart-index .cart-index-wrap .tb-col {
    padding: 2rem 0;
}

.well .h3 {
    color: #B8CC76;
}

#cart-form button {
    width: 100%;
    text-transform: uppercase;
    /* border-radius: 30px; */
}

.order-view button {
    width: 100%;
    border-radius: 10px;
    text-transform: uppercase;
}

.cart-index-wrap .count-helper {
    width: 100%;
}

#callback-form-footer label {
    color: #000 !important;
}

#callback-form-footer a {
    color: #000 !important;
}

#callback-form-footer .form-group {
    position: relative;
}

#callback-form-footer div.form-group label.control-label {
    position: absolute;
    top: -10px;
    left: 5px;
    background-color: #fff;
}

#callback-form-footer .form-control {
    height: 44px;
}

#oneclick-form-modal .form-group {
    position: relative;
}

#oneclick-form-modal div.form-group label.control-label {
    position: absolute;
    top: -10px;
    left: 5px;
    background-color: #fff;
}

#oneclick-form-modal .form-control {
    height: 44px;
}

#callback-form-modal .form-group {
    position: relative;
}

#callback-form-modal div.form-group label.control-label {
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: #fff;
    color: #B3B3B3;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 300;
}
#callback-form {
    padding: 0 10%;
}
#callback-form .call_back_btn{
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
}
#callback-form-modal .form-control {
    height: 44px;
}

#vacancy-form-modal .form-group {
    position: relative;
}

#vacancy-form-modal div.form-group label.control-label {
    position: absolute;
    top: -10px;
    left: 5px;
    background-color: #fff;
}

#vacancy-form-modal .form-control {
    height: 44px;
}

.home-contact-form .form-group {
    position: relative;
}

.home-contact-form div.form-group label.control-label {
    position: absolute;
    top: -8px;
    left: 10px;
    color: #B3B3B3;
    background-color: #fff;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.home-contact-form .form-control {
    height: 44px;
}

.home-portfolio .slick-slide .grid-item .img {
    filter: grayscale(0.9);
    transition: 0.6s;
    opacity: 0.8;
}

.home-portfolio .slick-slide .grid-item .img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.slick-dots li button {
    border: 1px solid #ccc !important;
    border-radius: 50% !important;
}

.slick-dots li.slick-active button:before {
    color: #b8cc76 !important;
}

.slick-dots li button:before {
    font-size: 10px !important;
    line-height: 22px !important;
    left: 0.5px!important;
}

.thanks {
    background: #ededed;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}

.thanks .service-wrap {
    height: 38rem;
    padding: 2rem;
    cursor: pointer;
    position: relative;
    margin-top: 50px;
    background-color: #fff;
    margin-bottom: 50px;
    position: relative;
    transition: .4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.thanks .service-wrap .img-wrap {
    right: 10px;
    position: absolute;
    top: -20px;
    padding: 10px;
    background: #fff;
    width: 30%;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 0.4) 0px -6px 6px -6px;
}

.thanks .service-wrap img {
    border: 1px solid #ededed;
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.thanks .one-service .service-wrap .anons {
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #959595;
}

.thanks .h2 {
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.home-portfolio .gallery-wrap {
    border-top: none;
    border-bottom: none;
    padding: 3rem 0 5rem;
}

.thanks-contact-form .contact-form .home-contact-form input[type=text] {
    height: 0;
}

.thanks-contact-form .contact-form .home-contact-form input[type=email] {
    height: 0;
}

.thanks-contact-form .contact-form .home-contact-form .h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

@media (max-width: 994px) {
    .footer .sosial-icons ul {
        padding-left: 0 !important;
        display: block !important;
    }

    .custom-file-input {
        float: none;
    }

    .home-contact-form div.field-contactform-file label.control-label {
        top: 0 !important;
        right: 80% !important;
    }

    .header-mobile ul {
        display: flex !important;
        justify-content: space-between;
    }

    .w100 .btn-primary {
        width: 100%;
    }

    .w100 .btn-default {
        width: 100%;
        margin-left: 0 !important;
    }

    .pull-right {
        float: none !important;
    }

    .home-list-category {
        margin-top: 50px;
    }

    /* .sm-menu {
      padding: 0;
    } */
    .sm-menu ul {
        /* padding: 0;
        margin: 0; */
        text-align: center;
    }

    .sm-menu ul li {
        display: inline-block;
    }

    .content .breadcrumb {
        margin-top: 8rem;
    }

    /* .sm-menu ul li a{
        padding: 5px;
        font-size: 10px;
      } */
    /* .sm-hamburger{
        padding: 0;
      } */
    ul.pgwSlider.narrow>li,
    .pgwSlider.narrow>.ps-list>li {
        max-height: none !important;
    }

    .product_item .gallery-wrap .ps-list>li {
        height: auto !important;
    }

    .modal-dialog {
        color: #000;
    }

    .footer .footer-top .right-side .modal-dialog a {
        color: #000;
    }
 
    .cart-index .cart-index-wrap .tb-col {
        border-bottom: none;
    }

    .well {
        border: none;
        box-shadow: none;
    }

    .cart-index-wrap .count-helper {
        width: 50%;
    }

    .footer .footer-top .right-side {
        padding-left: 15px;
    }
    .footer_center_0{
        margin-left: 0;
    }
    .footer_center_3 {
        margin-left: 0;
    }
    .footer_center_5 {
        margin-left: 0;
    }
    .footer_center_2{
        margin-left: 0;
    }
    .footer_center_4 {
        margin-left: 0;
    }
    .footer_center_last{
        margin-left: 0;
    }
    .product_item h1{
        margin-top: 8rem;
    }
    .uslugi iframe{
        height: auto!important;
    }
    .uslugi .uslugi-grid-wrap .one-service .service-wrap{
        padding: 10rem 2rem 4rem;
        margin-bottom: 2rem;
    }
    .box_white{
        height: 200px;
        width: auto;
    }
    .box_img_service{
        top: 20px;
        left: calc(50% - 35px);
    } 
    .header-mobile .hamburger .hamburger-inner{
        background-color: #b8cc76!important;
    }
    .header-mobile .hamburger .hamburger-inner:before, .header-mobile .hamburger .hamburger-inner:after {
        background-color: #b8cc76!important;
    }
    .header-mobile .hamburger .hamburger-inner:before, .header-mobile .hamburger .hamburger-inner:after {
        background-color: #b8cc76!important;
    }
    .header-mobile .hamburger{
        background: #fff!important;
        border-radius: 5px!important;
        border: 1px solid  #b8cc76!important;
        padding: 10px!important;
    }
    .header-mobile .logo-wrap{
        padding:1rem!important;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
        width: 30px!important;
        height: 2px!important;   
    }
    .mobile_new .Fixed{
        padding: 1rem;
    }
    .mobile_new .hamburger-box{
        width: 30px;
        height: 8px;
    }
    .services__columns[data-v-662be834]{
        display: block!important;
    }
    .new_tab_address{
        text-align: left!important;
    }
    .contact-fields input[type="radio"]{
        height: 10px;
    }
    .fixed_bottom_mobile{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        width: 100%;
    }
}