.header .catalog-button {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline !important;
    min-width: 100%;
    padding: 1rem;
    float: right;
    max-width: 100%;
    font-size: 14px;
}

.btn {
    border-radius: 4px
}

#popup-search .input-group {
    width: 100%;
    position: relative;
}

#popup-search .input-group input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #d2d2d2;
    height: 45px;
    padding-left: 0;
}

#popup-search .input-group i {
    position: absolute;
    z-index: 22;
    top: 10px;
    right: 0;
    font-size: 20px;
    color: #d2d2d2;
}
.icons-right ul{
    margin-right: 0;
}
.icons-right li{
    text-align: center;
    position: relative;
}
.icons-right li a{
    font-size: 10px;
    padding: 0;
    margin-right: 15px;
    margin-top: 15px;
}
.icons-right {
    margin-right: 0;
}
.icons-right span.badge{
    background-color: #b8cc76;
    padding: 2px 6px;
    margin-left: -10px;
    position: absolute;
}
.m-text-top{
    padding: 30px 10px 30px 20px!important;
}
.home-contact-form .contact-fields{
    box-shadow: rgba(149, 157, 165, 0.2) 2px 2px 20px;
    padding: 15px;
}
.home-contact-form .contact-fields input{
    padding: 20px 10px;
    border-radius: 6px;
}
.home-contact-form .contact-fields textarea{
    padding: 20px 10px;
    border-radius: 6px;
    margin-top: 15px;
}
.home-contact-form .contact-fields .politic-text{
    color: red;
}
.home-contact-form .contact-fields .politic-text a{
    text-decoration: underline;
    color: red;
}
.home-contact-form .contact-fields p{
    font-size: 12px;
}
.home-contact-form button{
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0px;
}
.home-contact-form input[type="radio"]{
    accent-color: #838f5c;
}
.home-contact-form .fileds-radio{
    font-size: 12px;
    width: 105%;
}
.city-choise-wrap li.dropdown{
    list-style: none;
}
.city-choise-wrap i{
    color:#b8cc76;
}
.city-choise-wrap a.dropdown-toggle{
    border-bottom: 1px solid #b8cc76;
}
.city-choise-wrap a.dropdown-toggle:hover{
    text-decoration: none;
}
.city-choise-wrap a.dropdown-toggle:focus{
    text-decoration: none;
}
.city-choise-wrap ul.dropdown-menu a{
    color:#b8cc76!important;
}
.footer .phone-secondary a{
    color: #fff;
    font-weight: bold;
}
.footer .sosial-icons li{
    padding-left: 5px;
}
.header .catalog-button{
    background: white;
    color: #b8cc76;
    border: 1px solid #b8cc76;
    margin-top: 15px;
}
.header .catalog-button:focus{
background: #b8cc76;
    color: #fff;
    outline: none;
}
.header .phone-wrap .phone{
    margin-top: -20px;
}
.header .phone-wrap .call-back{
    margin-bottom: 15px;
}
.header #popup-search{
    margin-top: 10px;
}