@import 'bootstrap/variables.less';


.header-mobile {

    width: 100%;
    position: fixed;
    top: 0;
    background: white;
    z-index: 1000;

    .container {
        padding-right: 0;   
    }

    .logo-wrap {
        padding: .5rem 1rem 1rem 3rem;

        img {
            @media(max-width:370px) { 
                height: 42px !important;
            }
            @media(max-width:320px) { 
                height: 38px !important;
            }
        }
    }

    .cart-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 6rem;

        .cart-top {
            position: relative;
            max-width: 6rem;


            .badge {
                position: absolute;
                top: 0;
                right: 0;
                background: @brand-primary;
                color: @gray;
            }
        }
    }

    border-bottom: 1px solid #ccc;

    .hamburger {
        background: #3E3E3E;
        border-radius: 0 0 0 1rem;

        .hamburger-inner {
            background-color: white;

            &:before, &:after {
                background-color: white;
            }
        }
    }
    .hamburger.is-active:hover, .hamburger:hover {
        opacity: 1;
    }
}

#menu {

    top: 6rem;

    .mm-navbars_top {
        display: none;
    }

    .city-wrap {
        display: flex;

        .content {
            /*padding-top: 1rem;*/
            padding-left: 1rem;

            a {
                margin-right: 1rem;
                text-decoration: underline;
                line-height: 2rem;
            }
        }

    }

    .phone-wrap {

        display: flex;
        /*justify-content: space-between;*/

        .phone {

            /*padding-top: 1rem;*/
            padding-left: 1rem;

            a {
                font-weight: 600;
                font-size: 2.4rem;
                clear: both;
                display: block;
            }
        }
    }

    .mm-listitem {
        font-size: 1.6rem;

        >a {
            padding: 1rem 1rem 1rem 2rem;
        }
    }

    .devider {
        height: 3rem;
    }

    .mm-panel {
        /*padding-bottom: 10rem;*/

        ul.mm-listview {
            padding-bottom: 10rem;
        }
    }

    .catalog {
        img {
            padding-right: 1rem;
        }
    }
}