/* Open Sans @font-face kit */
/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Light/OpenSans-Light.eot');
  src: url('fonts/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Light/OpenSans-Light.woff') format('woff'), url('fonts/Light/OpenSans-Light.ttf') format('truetype'), url('fonts/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/LightItalic/OpenSans-LightItalic.eot');
  src: url('fonts/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/LightItalic/OpenSans-LightItalic.woff') format('woff'), url('fonts/LightItalic/OpenSans-LightItalic.ttf') format('truetype'), url('fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Regular/OpenSans-Regular.eot');
  src: url('fonts/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Regular/OpenSans-Regular.woff') format('woff'), url('fonts/Regular/OpenSans-Regular.ttf') format('truetype'), url('fonts/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Italic/OpenSans-Italic.eot');
  src: url('fonts/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/Italic/OpenSans-Italic.woff') format('woff'), url('fonts/Italic/OpenSans-Italic.ttf') format('truetype'), url('fonts/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Semibold/OpenSans-Semibold.eot');
  src: url('fonts/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('fonts/Semibold/OpenSans-Semibold.woff') format('woff'), url('fonts/Semibold/OpenSans-Semibold.ttf') format('truetype'), url('fonts/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'), url('fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'), url('fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Bold/OpenSans-Bold.eot');
  src: url('fonts/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Bold/OpenSans-Bold.woff') format('woff'), url('fonts/Bold/OpenSans-Bold.ttf') format('truetype'), url('fonts/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/BoldItalic/OpenSans-BoldItalic.woff') format('woff'), url('fonts/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'), url('fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/ExtraBold/OpenSans-ExtraBold.eot');
  src: url('fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('fonts/ExtraBold/OpenSans-ExtraBold.woff') format('woff'), url('fonts/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'), url('fonts/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
  src: url('fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'), url('fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}
/* END Extrabold Italic */
/*@icon-font-path:          "../fonts/";*/
html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  padding: 50px 0 0 ;
  background: url('../img/body.png');
  background-attachment: fixed;
  background-size: cover;
}
.wrap > .container {
  /*padding: 70px 15px 20px;*/
}
.main-navbar {
  box-shadow: #222 0 1px 3px;
}
.main-navbar .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 0;
  border-bottom: 1px solid #aaa;
}
.header .logo-wrap {
  position: relative;
}
.header .logo-wrap .slogan {
  position: absolute;
  top: .5rem;
  right: 2rem;
  font-size: 1.6rem;
  color: #444;
}
.header .cart-wrap {
  margin-top: 2rem;
  position: relative;
}
.header .cart-wrap .count {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background: #4088B0;
  color: #fff;
  position: absolute;
  top: -1rem;
  right: 51%;
}
.header .cart-wrap .summ {
  padding-left: 1rem;
}
.header .cart-wrap a {
  color: #333;
}
.header .cart-wrap a:hover {
  text-decoration: none;
}
.header .phone {
  font-size: 2.4rem;
}
.header .phone a {
  color: #333;
}
.content {
  padding: 30px 0;
}
.content a {
  text-decoration: underline;
}
/*CART*/
.cart-index .cart-index-wrap {
  padding: 0 1rem;
}
.cart-index .cart-index-wrap .tb-header {
  font-weight: 600;
  border: 1px solid #ccc;
  padding: 1rem 0;
}
.cart-index .cart-index-wrap .tb-col {
  padding: 1rem 0;
}
.cart-index .cart-index-wrap .tb-col .col-xs-12 {
  padding: 1rem 0;
}
.footer {
  /*padding: 20px 0;*/
}
.footer .footer-up {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #2AD5BB;
  color: #fff;
  margin-top: 1rem;
  float: left;
  padding: 1rem 3rem;
  box-shadow: 1px 1px 3px #13324a;
  transition: .2s;
  position: fixed;
  bottom: -8px;
  z-index: 111;
  right: 8%;
}
.footer .footer-bottom {
  padding: 1.2rem 0;
  color: #fff;
  border-top: 1px solid #ddd;
  background-color: #4088B0;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
}
@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
  .navbar-nav {
    display: block !important;
  }
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}
.nav > li > form > button.logout:focus {
  outline: none;
}
/*HOME-PAGE*/
.home-about {
  background: #fff;
  padding: 4rem 0;
}
/*NEWS*/
.news .one {
  margin-bottom: 4rem;
}
.news .one .date {
  background: url(../img/dateNew.png) no-repeat left top;
  padding-left: 25px;
  color: #3a4145;
  margin: 0 0 10px 20px;
}
.news .one:first-child {
  margin-top: 4rem;
}
.news .new .date {
  background: url(../img/dateNew.png) no-repeat left top;
  padding-left: 25px;
  color: #3a4145;
  margin: 0 0 10px 20px;
}
/*------------------------- CATALOG ------------------------------*/
/*CATALOG MENU*/
/*.category-menu {
    ul {

        li {
            text-transform: uppercase;
            line-height: 2.6rem;

            &:before {
                content: '\203A  ';
            }
        }

        ul {
            li {
                text-transform: lowercase;
            }
        }

        > li > ul {
            display: none;
        }

        ul.active {
            display: block;
            margin-left: 2rem;
        }
    }
}*/
/*CATALOG WIDGET*/
.home-list-category h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.home-list-category .grid-item {
  background: #fff;
  min-height: 260px;
  margin: 10px 0 30px;
  padding: 20px 10px;
}
.home-list-category .grid-item img {
  display: block;
  margin: 0 auto;
}
.home-list-category .grid-item .link {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 1rem;
}
.catalog-index .catalog-item {
  margin-bottom: 2rem;
}
/*VIEWED GOODS*/
.viewed-goods {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.viewed-goods .item {
  text-align: center;
}
.viewed-goods .item img {
  height: 100px;
  margin: 0 auto;
}
/*GOODS*/
.product_item {
  padding: 0 2rem;
}
.product_item .content {
  margin-bottom: 2rem;
}
/*MEDIA*/
@media (max-width: 768px) {
  .navbar-inverse {
    /*background: rgba(0,0,0, 0.7);*/
    background: rgba(42, 213, 187, 0.75);
  }
}
@media (max-width: 480px) {
  .header .cart-widget {
    width: 40%;
    float: right !important;
  }
  .header .logo-wrap .slogan {
    font-size: 1rem;
  }
}
/*WIDGET*/
.city-links {
  padding: 1rem 2rem;
}
.city-links a {
  display: inline-block;
  padding: 0 1rem;
}
