@import "open-sans.less";
@import "bootstrap/variables.less";




html,
body {
    height: 100%;
}

body {
    display: block !important;
}

.wrap {
    /*min-height: 100vh;*/
    height: auto;
    /*padding: 50px 0 0 ;*/ 
    /*background: url('../img/body.png');*/
    /*background-color: #F5F3F3;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/

    @media(max-width:@screen-sm) {
        background: transparent; 
    }

    @media(max-width:@screen-md) {
        padding-top: 6rem; 
    }
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/ 
}

h1, .h1 {
    /*color: @brand-primary;*/
    /*font-weight: 500;*/
    text-transform: uppercase;
    font-size: 2.6rem;

    .h1mobile;
}

h2, .h2 {

    font-size: 2.3rem;

    .h2mobile;
}

h3, .h3 {

    font-size: 2rem;
    font-weight: 500;
    
    .h3mobile;
}



#content {
    padding-bottom: 4rem;

    .content-h2 {

        font-size: 2rem;
        color: @brand-primary;
        text-transform: uppercase;
        font-weight: 600;

        span.number {
            font-size: 3rem;
            color: @brand-primary;
        } 
    }

    .fa-arrow-circle-right {
        color: @brand-primary;
        font-size: 1.8rem;
    }
}


/* --- TYPOGRAPHY --- */

.h2 {
    font-size: 2.1rem;
    text-transform: upppercase;
    font-weight: 700;
    letter-spacing: .1rem;

    @media(max-width:@screen-md) {
        font-size: 1.8rem;
    }

    @media(max-width:@screen-sm) {
        font-size: 1.4rem;
    }
}

.main-navbar {

    /*background: @color-back-grey;*/
    background: white;


    .navbar-left {
        > li {
            a {
                padding-top: 1.6rem;
                padding-bottom: 1.6rem;
            }

        }
        .dropdown-menu {

            li  
            {
                a {
                    padding: 1rem 2rem;
                }
            }
        }

        &:last-child {
            @media(max-width:991px) {
                /*background: transparent;*/ 
                display:none; 
            }
        }

    }

    .navbar-right {
        .cart-top {
            position: relative;

            .count {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                background: @brand-primary;
                color: black;
            }
        }

        .cart {

            padding: 0;

            a {
                /*display: block;*/
                padding: 0;

                .cart-top {
                    padding: 1.6rem 1.6rem 1.2rem 0;
                }
            }
        }

        .enter-link {
            border-left: 1px solid #d2d2d2;

            a {
                padding-top: 1.6rem;
                padding-bottom: 1.6rem;
            }
        }

    }

    .navbar-nav {
        /*        padding-top: .5rem;
                padding-bottom: .5rem;*/

        li {

            a {

                border-bottom: 4px solid white;
                background: inherit;
                font-weight: 400;
                padding: 16px 1.2rem;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;

                &:hover {
                    background: inherit;
                    border-bottom: 4px solid @brand-primary;
                    color: @text-color;
                }
            }
        } 


        .active  a{

            /*background: @color-dark-grey;*/
            border-bottom: 4px solid @brand-primary;
            color: @text-color;
            background: inherit;

            &:hover {
                /*background: @color-dark-grey;*/
            }

        }

        .open>a {
            background: @color-dark-grey;
        }
    }

    .popup-search {
        padding-top: 1rem;

        .input-group {
            border: inherit;

            .input-group-addon {
                border: inherit;
                background-color: inherit;
            }

            input {
                border: inherit;
                background-color: inherit;
                box-shadow: inherit;
            }
        }

    }
}

.wrap {
    .popover {
        min-width: 40rem;
        position: relative;

        .popover-title {
            background: transparent;
            text-align: center;
            color: @color-black;
            padding: 2rem 0 2rem;
            border-bottom: 1px solid @gray-border;
            font-size: 2rem;
            font-weight: 300;
        }

        .top-cart-item {
            padding: 1rem 0;
            border-bottom: 1px solid @gray-border;

            .image-wrap {}

            .header-wrap {
                text-transform: uppercase;
            }
        }

        .close-btn {
            position: absolute;
            top: .5rem;
            right: .5rem;
            font-size: 2rem;
        }
    }
}

.header {
    /*background: rgba(255, 255, 255, 0.8);*/
    padding: 3rem 0 0;
    /*border-bottom: 1px solid #aaa;*/

    .middle-line {
        padding-bottom: 2rem;
    }

    .logo-wrap {
        /*position: relative;*/

        .img {
            @media(max-width:@screen-sm) {
                text-align: center;
                margin: 0 auto;
            }
        }

        .slogan {

            font-size: 1.4rem;
            padding-top: 1rem;
            color: #444;

            @media(max-width:@screen-sm) {
                text-align: center;
            }
        }
    }

    .work-time {
        @media(max-width:@screen-sm) {
            text-align: center;
        }
    }

    .office {
        @media(max-width:@screen-sm) {
            text-align: center;

            margin-top: 3rem;
            margin-bottom: 3rem;

            .mos, .ekb {
                margin-top: 1rem;
                margin-bottom: 2rem;
            }

        }
        @media(max-width:@screen-xs) {
            text-align: center;

            margin-top: 1rem;
            margin-bottom: 0;

            .mos, .ekb, .kras {
                margin-top: 0;
                margin-bottom: 0;
            }

            .kras {
                margin-bottom: 2rem;
            }
        }
    }

    .address-line {
        border-right: 1px solid @brand-primary;

        @media(max-width:@screen-xs) {
            border-right:inherit;


            .col-xs-12 {
                text-align: center;
            }
        }

        .ekb {
            padding-right: 0;
        }
    }

    .cart-wrap {
        margin-top: 2rem;
        position: relative;

        .count {
            height: 2rem;
            width: 2rem;
            border-radius: 1rem;
            background: @brand-primary;
            color: #fff;
            position: absolute;
            top: -1rem;
            right: 51%;

        }

        .summ {
            padding-left: 1rem;
        }

        a {
            color:#333;
            &:hover {
                text-decoration: none;
            }   
        }

    }
    .phone-wrap {
        .phone {
            font-size: 2.2rem;
            font-weight: 600;
            margin-bottom: 0;
            text-align: right;

            @media(max-width:@screen-sm) {
                text-align: center; 

                button {
                    margin: 0 auto;
                }
            }
            @media (max-width:@screen-lg) and (min-width:@screen-sm) {
                font-size: 1.8rem;
            }

            a {
                color: @gray;
            }

            .work_time, .glyphicon-time {
                font-size: 1.6rem;
                color: #999;
                font-weight: bold;
            }

            .work-time {
                font-size: 1.4rem;
                font-weight: 300;
            }
        }

        .free-call {
            text-align: right;
            color: @gray-light;
            padding-right: 2rem;

            @media(max-width:@screen-sm) {
                margin: 0 auto;
                float: none;
                text-align: center;
            }

        }

        .call-back {
            font-size: 1.4rem;
            font-weight: 600;
            margin: 0;
            text-align: center;
            display: inline !important;
            width: 17.5rem;
            text-transform: uppercase;

            float: right;

            @media(max-width:@screen-sm) {
                margin: 0 auto;
                float: none;
            }
            /*text-align: right;*/
        }

        @media(max-width:@screen-sm) {
            text-align: center; 

            button {
                margin: 0 auto;
                display: block !important;
                float: none;
            }
        }


    }

    .work-time {

        max-width: 400px;

        @media(max-width:@screen-sm) {
            margin: 1rem 0;
        }

        @media(min-width:@screen-md) and (max-width:@screen-lg) {
            font-size: 1rem;
        }

        .wt-header {
            color: @brand-primary;
            text-align: center;
            font-weight: 600;
            font-size: 1.8rem;

            @media(min-width:@screen-sm) and (max-width:@screen-lg) {
                font-size: 1.4rem;
            }

            @media(max-width:@screen-sm) and (min-width:@screen-lg) {
                font-size: 1.4rem;
            }
        }

        .col-xs-5 {
            padding-right: 0;
            text-align: left;
            padding-left: 21px;

            @media(max-width:@screen-xs) {
                text-align: right;
            }
        }
        .col-xs-7 {
            padding-left: 0;

            @media(max-width:@screen-xs) {
                text-align: left;
                padding-left: 1rem;
            }
        }

        .col-xs-5, .col-xs-7 {
            padding-top: .3rem;
        }
    }

    .city-choise {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        max-width: 400px;

        a {
            border-bottom: 1px dashed #333;

            &:hover {
                text-decoration: none;
                border-bottom: inherit;
            }
        }

        .active-city {
            color: @brand-primary;
            text-transform: uppercase;
            line-height: 2.6rem;

        }

        .line {
            width: 2px;
            height: 2rem;
            margin-top: .3rem;
            background: @gray-light;

        }

        @media(max-width:@screen-xs) {

            flex-direction: column;
            text-align: center;

            a {
                margin-bottom: 2rem;
            }

            .line {
                display: none;
            }

        }
    }

    #top-line {

        transition: .5s linear;

        &.fixed{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            border-bottom: 2px solid @brand-primary;

            .container {

                padding-left: 0;
                padding-left: 0;

                @media (min-width:@screen-md)
                    {
                    width: @screen-md;
                }

                @media (min-width: @screen-lg)
                    {
                    width: @screen-lg;
                }


            }
            .navbar-nav {

                li {
                    a {
                        font-size: 1.6rem;
                        font-weight: 600;
                        padding: 2rem .5rem;
                    }
                }
            }
        }


        .navbar {
            margin-bottom: 0;
        }

        background-color: #3d3d3d;
        color: white;

        .navbar-nav {

            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;

            li {


                a {
                    color: white;
                    transition: .2s ease-out;
                    padding: 1.5rem .5rem;
                    font-size: 1.5rem;

                    &:focus, &:hover {
                        background-color: inherit;
                        text-decoration: underline;

                    }
                }
            }

            .dropdown-menu {
                li {
                    a {
                        background-color: #3d3d3d;
                        padding: 1rem 4rem;
                    }
                }
            }
        }

    }

}

.search-wrap {
    background: @color-black;
    padding: 2rem 0;

    .search {

        position:relative;

        .ajax-result {
            position: absolute;
            background: #fff;
            width: 50%;
            z-index: 100;


            .wrap {
                background: @color-back-grey;
                padding: 1rem 2rem 2rem;

                li {
                    margin-bottom: .5rem;

                    .h4 {
                        color: @gray-dark;

                        strong {
                            color: @brand-primary;
                        }
                    }
                }
            }
        }
    }

    .q {
        font-size: 1.6rem;
        padding: 1rem;
        line-height: 3rem;
        /*min-height: 4rem;*/

        #placeholder {
            padding: 1rem;
        }
    }

}

.content {
    /*padding: 30px 0;*/

    a {
        text-decoration: underline;
    }

    .breadcrumb {
        margin-top: 2rem;
        padding: 1rem 0;
    }
}

/*HOME*/

.home-slide-show {
    background: white;
}

.home-advantages {

    background: white;
    padding: 1rem 0;

    .advantages-wrap {

        .h3 {
            padding-bottom: 2rem;

            .h3mobile;

        }
        .row {
            > div {
                word-wrap: break-word;
            }
        }

    }
}

.site-index {

    .home-advantages {
        padding: 4rem 0;
    }

}

.home-portfolio {

    background: white;

    .h2 {
        font-size: 3rem;
        margin-top: 5rem;
        margin-bottom: 3rem;

        .h2mobile;
    }

    .gallery-wrap {

        background: @color-black;

        .item-wrap {
            position: relative;

            .content-wrap {

                padding: 1rem;
                background: rgba(0,0,0, .6);
                position: absolute;
                top: 2rem;
                left: 2rem;

                .p-header {
                    color: white;
                    text-transform: uppercase;
                    font-weight: 600;
                    /*padding: 0 2rem;*/
                }

                .p-anons {
                    color: white;
                }
            }

        }

        .owl-dots {
            display: none;
        }

    }
}

.home-news{
    padding: 5rem 0 2rem;
    /*background: white;*/

    .h2 {
        margin-bottom: 3rem;

        .h2mobile;
    }

    .new {

        .h2 {
            margin-top: 0;

            .h2mobile;

        }

        .last-news {
            font-size: 2.2rem;
            font-weight: 300;
        }

        .h3 {
            color: @color-black;
            font-size: 2.4rem;
            font-weight: 700;
            margin-top: .4rem;

            .h3mobile;
        }

        .date {
            color: @gray-light;
            margin: 1rem 0 2rem;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        p {
            line-height: 2.2rem;
        }
    }

    .one {
        border: 1px solid @gray-border;
        padding: 2rem 2rem;
        margin-bottom: 1.5rem;

        .title-news {
            font-weight: 600;
        }
        p {
            line-height: 1.8rem;
        }



        .description {
            a {
                color: @color-black;
                font-size: 1.6rem;
                /*margin-bottom: 1.4rem;*/
                display: block;
                margin: 0;
            }
        }

        .date {
            color: @gray-light;
        }

        .more-link {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

    }

    .more-news-link {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }


}


.thanks-contact-form {
    padding: 5rem 0;
    /*background: @color-back-grey;*/

    .h2 {
        margin-bottom: 3rem;
        font-size: 3rem;

        @media(max-width:@screen-md) {
            font-size: 1.8rem;
        }

        @media(max-width:@screen-sm) {
            font-size: 1.4rem;
        }
    }

    .thanks {}

    .home-thanks-list {
        .row {
            .col-xs-4 {
                margin-bottom: 1rem;
            }

            .col-xs-6 {
                margin-bottom: 4.4rem;
            }
        }
    }

    .contact-form {

        .home-contact-form {

            .h2 {
                color: @color-black;
                font-size: 1.8rem;
                margin-bottom: 5rem;
            }

            input[type=text] {
                height: 6rem;
                line-height: 6rem;
            }

            .star-text {
                color: @gray-light;
                font-size: 1.1rem;
            }

            .politic-text {
                color: @color-red;
                a {
                    color: @color-red;
                    text-decoration: underline;
                }
            }

            .button-wrap {
                padding-top: 2rem;

                button {
                    text-transform: uppercase;
                    padding: 1.4rem 8rem;
                    font-weight: 600;
                }
            }

        }

    }
}

.uslugi, .news, .article {
    h1 {
        /*color: @gray-dark;*/
        margin-top: 0;
        margin-bottom: 2rem;

        .h1mobile;
    }

    .h2 {
        /*color: @gray-dark;*/
        margin: 1rem 0 2rem;
        display: block;

        .h2mobile;
    }
}

.menu-services, .menu-articles {

    margin-bottom: 3rem; 

    li, a {
        margin-bottom: .5rem;
    }

    .header {
        padding: 1.5rem;
        text-align: center;
        color:white;
        background: @brand-primary;
        text-transform: uppercase;
        font-weight: 600;
    }

    .active, a:hover {
        background: @gray-dark !important;
        color: white;

    }
    .image-wrap {
        padding-left: 5px;
        padding-right: 0;
    }
    .link-wrap {
        padding-left: 10px;
    }
}

.uslugi {

    .text-top {
        font-size: 1.9rem;
        font-weight: 300;
    }


    .uslugi-grid-wrap {
        background: #ededed;
        padding: 3rem 0;
        margin: 2rem 0;

        .one-service {

            .service-wrap {

                min-height: 36rem;
                padding: 10rem 2rem 0;
                cursor: pointer;
                position: relative;


                @media(max-width:@screen-lg) {
                    padding: 10rem 6rem 0;
                }
                @media(max-width:@screen-md) {
                    padding: 10rem 2rem 0;
                }

                @media(max-width:@screen-sm) {
                    padding: 10rem 3rem 0;
                    max-width: 40rem;
                    margin: 0 auto;
                }
                @media(max-width:@screen-xs) {
                    padding: 10rem 6rem 0;
                }

                @media(min-width:0) and (max-width:@screen-xs) {
                    min-height: auto;
                    background: white !important;
                    padding: 4rem 2rem 6rem;

                }


                /*                @media(min-width:@screen-md) {
                                    padding: 10rem 2rem 0;
                                }*/





                .title {
                    font-size: 1.7rem;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: 600;

                    &:after {
                        content: '';
                        width: 7rem;
                        height: .3rem;
                        background: @brand-primary;
                        clear: both;
                        display: block;
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }

                .anons {
                    font-size: 1.6rem;
                    line-height: 2.1rem;
                    color: #959595;
                }

                .link-next {
                    color: #959595;
                    font-size: 1.6rem;
                    position: absolute;
                    left: 2rem;
                    bottom: 3rem;


                    @media(max-width:@screen-lg) {

                        left: 6rem;
                        bottom: 2rem;
                    }
                    @media(max-width:@screen-md) {

                        left: 2rem;
                        bottom: 3rem;
                    }

                    @media(max-width:@screen-sm) {


                        left: 3rem;
                        bottom: 3rem;
                    }

                }

                &.wrap-82 {
                    background: url('/image/service/usl_001.png') center center no-repeat;
                    background-size: contain !important;
                }

                &.wrap-84 {
                    background: url('/image/service/usl_002.png') center center no-repeat;
                    background-size: contain !important;
                }

                &.wrap-103 {
                    background: url('/image/service/usl_003.png') center center no-repeat;
                    background-size: contain !important;
                }

                &.wrap-104 {
                    background: url('/image/service/usl_004.png') center center no-repeat;
                    background-size: contain !important;
                }

                &.wrap-105 {
                    background: url('/image/service/usl_005.png') center center no-repeat;
                    background-size: contain !important;
                }

                &.wrap-107 {
                    background: url('/image/service/usl_006.png') center center no-repeat;
                    background-size: contain !important;
                }

            }

        }
    }

    .bottom-image {
        margin-top: 3rem;
    }

    .bottom-text {

        font-size: 1.6rem;
        margin-top: 2rem;


        .call-req {
            font-size: 2.2rem;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;

            a {
                text-decoration: none;
            }
        }
    }


}

/*CART*/

.cart-index {

    .cart-index-wrap {

        padding: 0 1rem;

        .tb-header {
            font-weight: 400;
            border-top: 1px solid @gray-border;
            border-bottom: 2px solid @brand-primary;
            padding: 1rem 0;
        }

        .tb-col {
            padding: 1rem 0 .5rem;
            border-bottom: 1px solid @gray-border;

            .col-xs-12 {
                padding: 1rem 0;
            }

            .name-wrap {

                padding-left: 1rem;

                .cart-item-title {
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    font-weight: 600;
                }
            }

            .summ-one-wrap, .count-wrap, .summ-wrap, .delete-wrap {
                padding-top: 2rem;
                text-align: center;
            }

            .count-wrap {
                position: relative;

                [name=count] {
                    height: 34px;
                    background-color: @brand-primary;
                    color: #3d3d3d;
                    border: 0px solid white;
                    line-height: 3rem;
                    font-weight: 600;
                    font-size: 1.6rem;
                    max-width: 6rem;
                    position: relative;
                    top: 2px;
                    /*margin-top: 4px;*/


                }
            }

            .summ-wrap {
                font-weight: 600;
                font-size: 1.6rem;
            }

            .delete-wrap {
                .cart-delete {
                    background-color: @color-grey;
                    color: @color-black;
                }
            }
        }

        .img-wrap {


        }

        .bottom-row {
            padding: 2rem 0 ; 

            .full-summ, {
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 600;
            }

            .bottom-summ {
                text-transform: uppercase;
                font-size: 2.4rem;
                font-weight: 400;
            }
        }

        .btn-lg {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
        }
    }
}

.footer {

    background-color:@color-black ;
    color: #FAFAFA;
    padding: 6rem 0 1rem;

    a, a:hover {
        color: @brand-primary;
    }

    a:hover {
        text-decoration: underline;
    }

    .title {
        font-weight: 600;
        font-size: 2rem;
    }

    .footer-top {
        ul {
            li {
                width: 100%;
                /*padding-bottom: .7rem;*/


                a {
                    color: white;
                    line-height: 2.8rem;
                }
            }
        }

        .right-side {

            text-align: right;

            padding-top: 3.6rem;
            color: white;
            a, button {
                color: white;
            }

            .email {

                a {
                    /*font-size: 2rem;*/
                    text-decoration: underline;
                }
            }

            .phone {
                margin-bottom: 0;

                a {
                    font-size: 2.4rem;
                    font-weight: 600;
                    /*text-decoration: underline;*/
                }
            }

            .btn-link {
                color: @brand-primary;
            }

            .call-back {
                margin-right: 0;
                padding-right: 0;
                text-decoration: underline;
            }
        }

        a:hover {
            color: @brand-primary;
        }
    }

    /*padding: 20px 0;*/

    .footer-bottom {
        /*padding: 1.2rem 0;*/
        color: #9E9E9E;

    }

    .footer-up {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        z-index: 10000;
    }

}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .navbar-nav {
        display: block !important;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*HOME-PAGE*/

.home-about {

    padding: 4rem 0;

    .h2 {
        font-size: 3rem;
        margin-bottom: 3rem;

        @media(max-width:@screen-md) {
            font-size: 2rem;
        }

        @media(max-width:@screen-sm) {
            font-size: 1.8rem;
        }
    }

    line-height: 2.2rem;
    color: #555;

    .text-black {
        color: #111;
    }

    .left {


        ul {
            li {

                margin-bottom: 2rem;

                &:before {
                    content: ' ';
                    width: 3rem;
                    height: 6rem;
                    display: block;
                    float: left;
                    margin: 1rem 2rem 0 0 ;

                }

                &:nth-child(1) {
                    &:before {
                        background: url('/image/ico/Shild.png') top center no-repeat;
                        background-size: contain;
                    }
                }
                &:nth-child(2) {
                    &:before {
                        background: url('/image/ico/Thief.png') top center no-repeat;
                        background-size: contain;
                    }
                }
                &:nth-child(3) {
                    &:before {
                        background: url('/image/ico/Police.png') top center no-repeat;
                        background-size: contain;
                    }
                }
                &:nth-child(4) {
                    &:before {
                        background: url('/image/ico/Man.png') top center no-repeat;
                        background-size: contain;
                    }
                }
            }


        }
    }

    .right {

        .h4 {
            margin-top: 4rem;
            letter-spacing: .2rem;
        }


        ul {
            li {

                margin-bottom: 2rem;

                &:before {
                    content: '	\2714';
                    font-size: 2rem;
                    color:@brand-primary;
                    /*                    width: 1rem;
                                        height: 4rem;
                                        display: block;
                                        float: left;
                                        margin: 1rem;*/

                }
            }
        }
    }

}

/*NEWS*/

.news {
    .one {

        margin-bottom: 4rem;

        .date {
            background: url(../img/dateNew.png) no-repeat left top;
            padding-left: 25px;
            color: #3a4145;
            margin: 0 0 10px 20px;
        }

        &:first-child {
            margin-top: 4rem;
        }
    }

    .new {
        .date {
            background: url(../img/dateNew.png) no-repeat left top;
            padding-left: 25px;
            color: #3a4145;
            margin: 0 0 10px 20px;
        }
    }

}


/*CATALOG WIDGET*/

.home-list-category {

    /*background: @color-back-grey;*/

    .item-wrap {
        border: 1px solid #eee;
        margin-bottom: 4rem;
        border-collapse: collapse;
        transition: .5s; 
        background: white;

        &:hover {

            z-index: 100;

            -webkit-transform: scale(1.02,1.02); 
            -ms-transform: scale(1.05,1.05);
            transform: scale(1.05,1.05);

            box-shadow: 0 0 10px rgba(0,0,0,.4);
            .link {
                font-weight: bold !important;
            }
        }


    }

    .panel {
        border-radius: 0px;

        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0); 
        box-shadow: 0 1px 1px rgba(0,0,0,0); 


    }

    .panel-click {
        cursor: pointer;
    }

    h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 3rem;
        margin-top: 4rem;
        margin-bottom: 6rem;
        /*color: @brand-primary;*/

        .h1mobile;
    }

    .panel-heading {
        padding: 0;
        min-height: 4rem;
        background: white;

    }

    .grid-item {
        background: #fff;
        min-height: 23rem;
        margin: 2rem 0 0;
        padding: 20px 10px;
        background-size: contain !important;
        position: relative;
    }

    .panel-body {

        .link {
            font-size: 1.8rem;
            border-bottom: 1px solid @brand-primary;
            display: inline-block;
            color: #666;
        }


    }

    .panel-footer {
        background-color: inherit;
        border: 0px solid white;
        padding: 0 3rem;

        .btn {
            font-size: 1.6rem;
            font-weight: 700;
        }
    }

}

.catalog-index {
    .catalog-item {
        margin-bottom: 2rem;
    }
}

/*VIEWED GOODS*/

.viewed-goods  {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .h3 {
        padding-bottom: 2rem;
    }

    .item {
        text-align: center;

        a {
            text-decoration: none;

            :hover {
                text-decoration: underline;
            }
        }

        .category {
            font-weight: 600;
            text-transform: uppercase;
        }

        img {
            height: 200px;
            margin: 0 auto;
        }

        .block-link {
            display: block;
            margin-bottom: 2rem;
        }
    }
}

/* --- RECOMENDED GOODS --- */

.recommended-goods {
    background: white;

    .h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}

/* ---- PRODUCTS ---- */

.product-cart {

    margin-bottom: 1rem;

    .panel {
        transition: .5s; 

        &:hover {

            z-index: 1000;

            -webkit-transform: scale(1.02,1.02); 
            -ms-transform: scale(1.05,1.05);
            transform: scale(1.05,1.05);

            box-shadow: 0 0 10px rgba(0,0,0,.4);
            .link {
                font-weight: bold !important;
            }
        }

        .panel-heading {
            position: relative;

            .type-img {
                position: absolute;
                left: 0;
                height: 30px;
                z-index: 1;
            }
        }
    }



    .image-wrap {
        padding: .4rem;
        border: 1px solid @gray-border;


        .image {
            padding: 3rem;
            min-height: 180px;
            background-size: contain !important;
            position: relative;
            cursor: pointer;

            .gallery-popup-link, .gallery-popup-link-one {

                position: absolute;
                bottom: .5rem;
                right: .5rem;
                cursor: pointer;

                i {
                    font-size: 4rem;
                    color: @gray-light;

                }

            }

        }
    }

    .btn-group {
        @media(max-width:@screen-xs) {
            width: 100%;
            .btn-default {
                width: 40%;
            }
            .btn-primary {
                width: 60%;
            }
        }
    }

    .product-description-wrap {
        padding: .5rem  2rem;
        border: 1px solid @gray-border;
        min-height: 190px;
        display:flex;
        flex-direction: column;
        justify-content: space-around;

        .h4 {
            text-transform: uppercase;
            font-weight: 400;
            margin: 0;
            font-size: 1.6rem;
            text-decoration: underline;

            a {
                text-decoration: none;
            }
        }

        .description {
            max-height: 9.5rem; 
            overflow: hidden;
        }

        .product-price {
            font-size: 1.6rem;
            font-weight: 600;

            .in_stock {
                font-size: 1.4rem;
                color: @gray-dark;

                i {
                    color: @brand-primary;

                    &.fa-square {
                        color: @gray-dark;
                    }
                }
            }

            span {
                font-weight: 400;
            }
        }

    }

}

/* --- PRODUCT --- */ 

.product_item {
    padding: 0 2rem;

    h1 {
        /*        color: @color-black;
                letter-spacing: 1px;
                font-size: 2.2rem;*/
        margin: 0;
        /*font-weight: 500;*/
        margin-bottom: 3rem;
        width: 90%;
    }

    .price {
        font-size: 1.6rem;

        .in_stock {
            font-size: 1.4rem;
            color: @gray-dark;

            i {
                color: @brand-primary;
            }
        }
    }

    .gallery-wrap {
        margin-bottom: 2rem;
        position:relative;

        .gallery-popup-link, .gallery-popup-link-one {

            position: absolute;
            top: .5rem;
            right: .5rem;
            cursor: pointer;
            z-index: 10;

            i {
                font-size: 4rem;
                color: @gray-light;

            }

        }

        .ps-list {
            > li {
                width: 20% !important;
                height: 60px !important;

                img {
                    margin-top: 0 !important;
                }
            }
        }
    }

    .btn-grey {
        padding: .8rem 1.6rem;
    }

    .btn-default, .btn-primary {
        padding: .8rem 1.2rem;
        /*text-transform: uppercase;*/

        @media(max-width:@screen-xs) {
            width: 100%;
        }
    }

    .product-tabs {

        margin-top: 4rem;

        .active, li:hover {
            > a {
                background: transparent;
                border-top: 0px solid white !important;
                border-left: 0px solid white !important;
                border-right: 0px solid white !important;
                border-bottom: 2px solid @brand-primary !important;
                color: @brand-primary !important;
                font-weight: 600;
            }
        }

        li {

            @media(max-width:@screen-sm) {
                width: 100%;
            }

            a {
                text-transform: uppercase;
                border-radius: 0;
                text-decoration: none;
            }
        }

        .nav-tabs {
            margin-bottom: 2rem;
        }
    }

}

.product-list {
    .item {

    }
}

/* CATEGORY - MENU */

.category-menu {
    .category-link {
        padding: 1rem 1rem;
        margin-bottom: .5rem;

        a {
            text-decoration: none;
        }
    }
}

/*MEDIA*/

@media(max-width:@screen-md) {

    .navbar-inverse {
        /*background: rgba(0,0,0, 0.7);*/
        background: @brand-secondary;
    }

}

@media(max-width:@screen-xs) {

    .header {

        .cart-widget {
            width: 40%;
            float: right !important;
        }

        .logo-wrap {
            .slogan {
                font-size: 1rem;
            }
        }
    }

}

/*WIDGET*/ 

.city-links {    

    padding: 1rem 2rem;  

    a {
        display: inline-block;
        padding: 0;
    }
}

.rassrochka-form {
    border-top: 1px solid @gray-border; 
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 3rem;

    .h2 {
        font-weight: 400;
    }

    input {
        padding: 2rem;
        font-size: 1.6rem;
        line-height: 3rem;
    }
    select {
        height: 4.2rem;
        font-size: 1.6rem;
        line-height: 3rem;
        background: @gray-border;
    }
    button {
        height: 4.2rem;
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
    }
}
.cart-item {
    .cart-add {

        position: relative;

        [name=count] {
            height: 39px;
            background-color: @brand-primary;
            color: #3d3d3d;
            border: 0px solid white;
            line-height: 4rem;

            font-weight: 600;
            font-size: 1.8rem;
            max-width: 10rem;
            position: relative;
            top: 3px;
            /*margin-top: 4px;*/


        }
        #spin { 
            display: none !important;
        }
    }
}

/*Убираем стралки из text:number*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {  
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
} 

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    color: #333;
}    

.btn-default:hover, .btn-default:focus, .btn-default.focus {
    color: @brand-primary;
}    

.pagination {
    li {



        a,span { 
            margin-left: .4rem;
            background-color: #EBEBEB !important;
            font-size: 1.8rem;
            border-radius: 0;
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            border-top-left-radius: 0 !important;
        }

        &.active {
            a {
                background-color:@brand-primary !important;
            }
        }
    }
}

.checkbox-ext {
    margin-top: 0;
}

.custom-checkbox {
    padding-left: 0 !important;
}

/* для элемента input c type="checkbox" */
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 1.5rem;
    font-weight: 600;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background: white;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span::before {
    background-color: @yellow;
    border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #fff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
    border-color: #fff;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}

.h1mobile {
    @media(max-width:@screen-md) {
        font-size: 3rem;
    }

    @media(max-width:@screen-sm) {
        font-size: 2.4rem;
    }
}

.h2mobile {
    @media(max-width:@screen-md) {
        font-size: 2.4rem;
    }

    @media(max-width:@screen-sm) {
        font-size: 2rem;
    }
}

.h3mobile {
    @media(max-width:@screen-md) {
        font-size: 2.2rem;
    }

    @media(max-width:@screen-sm) {
        font-size: 1.8rem;
    }
}