RewriteEngine on

RewriteCond %{HTTP_HOST} ^jetenglish.ru
RewriteRule (.*) http://www.jetenglish.ru/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
RewriteCond %{THE_REQUEST} index.php
RewriteRule ^index.php/(.*) /$1 [R=301,L] 

#Redirect 301 /index.php /